/* 
Yellow
color: #faf399;
*/


html, body {
	width: 100%;
	height: 100%;
}

header {
	background-color: #ffffff;
}


.icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	overflow: hidden;
}

.email-txt {display: none;}

.lists {
	position: absolute;
	z-index: 1;
	height: 100%;
	overflow-y: auto;
	background-color: #ffffff;
	padding: 0;
}
.list {
	background-color: #ffffff;
}

#btWing {
	padding: 0.25rem 0.75rem;
	text-align: center;
	border: 1px solid #ffffff;
	display: inline-block;
	border-radius: 3px;
	margin-right: 1rem;
}

.btn {
	border-radius: 0;
	border: none;
	box-shadow: -12px 31px 151px -46px rgba(0,0,0,0.75);
}
.btn-primary, .btn-danger {
	background-color: #000000;
}

.btn-success {
	background-color: #aaaaaa;
}
.btn-success:hover {
	background-color: #000000;
}

@media screen and (min-width: 768px) {
	.email-txt {display: block;}
	.lists {position: static;}
	#btWing {display: none;}
}